<nav>
    <ul>
        <li><a href="{{ url_for('main.index') }}">Dashboard</a></li>
        <li><a href="{{ url_for('main.inventory') }}">Inventory</a></li>
        <li><a href="{{ url_for('main.orders') }}">Orders</a></li>
        <li><a href="{{ url_for('main.purchase_orders') }}">Purchase Orders</a></li>
        <li><a href="{{ url_for('main.companies') }}">Vendors</a></li>
        <li><a href="{{ url_for('main.employees') }}">Employees</a></li>
        <li><a href="{{ url_for('main.customers') }}">Customers</a></li>
    </ul>
</nav>